.header {
    /*filter: inset(100%);*/
    background: #9a4ee1;
    height: 100px;
    display: flex;
}
.logo {
    background: white;
    width: 100px;
    height: 100px;
    overflow: hidden;

}
.logo img {
    position: relative;
}
.header img {
    width: 100px;
    height: 100px;
}
.header_content {
    filter: inset(100%);
    text-align: center;
}
.select_genres {
    margin: 30px;
}
.button_all_movies {
    filter: inset(100%);
    margin: 30px;
    border-radius: 5px;
}
.button_top_movies {
    margin: 30px;
    border-radius: 5px;
}
.searchForm {
margin: 30px;
}
