.header {
    background: #9a4ee1;
    height: 100px;
    display: flex;
}
.logo {
    background: white;
    width: 100px;
    height: 100px;

}
.header_content {
    text-align: center;
}
.select_genres {
    margin: 30px;
}
.button_all_movies {
    margin: 30px;
    border-radius: 5px;
}
.button_top_movies {
    margin: 30px;
    border-radius: 5px;
}
